# Node modules
node_modules/

# Prisma SQLite database
*.db
*.db-journal

# Env files
*.env

# Lock files
package-lock.json
/messaging-service/package-lock.json

# Generated GraphQL files (adjust paths as needed)
**/gql/generated/
**/__generated__/
**/*.gql.ts
**/*.graphql.ts

# Optional: Apollo codegen output
**/graphql.schema.json
**/graphql-types.ts
